<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-edit >
        </app-shopping-list-edit>
        <hr>
        <div class="list-group">
            <a 
                class="list-group-item d-flex justify-content-between align-items-center" 
                style="cursor : pointer" 
                *ngFor="let ingredient of ingredients;let i=index"
                (click)="onItemClick(i)"
            >
                {{ingredient.name}} 
            <span class="badge badge-primary badge-pill">
                {{ingredient.amount}}
            </span>
            </a>
        </div>
    </div>
</div>